.star {
  color: var(--c-main);
  position: absolute;
  top: -60px;
  @include animation(falling, 5s linear forwards);
  &::before {
    content: "\f005";
    font-family: fontAwesome;
    text-shadow: 0 0 5px var(--c-main), 0 0 20px var(--c-main),
      0 0 50px var(--c-main);
  }
}